.container-city_name {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5em;
  align-items: center;
}
.container-city_name-country {
  width: 50%;
}

.apiSuccess-container {
  width: 45vw;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #598bad;
  padding-bottom: 1em;
  border-radius: 5px;
  margin-top: 2em;
  color: white;
}

.useEffect_weather {
  padding-top: 1em;
}

.img-weather {
  width: 90px;
}

.details {
  transition: 2s;
}

.today {
  display: flex;
  color: white !important;
}

.container-temp {
  width: 100%;
  margin: auto;
  height: 5em;
  display: flex;
  flex-direction: row;
  &-temp {
    display: flex;
    justify-content: center;
    color: white;

    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    height: 5em;
    line-height: 5em;
  }
  &-icon {
    margin: auto;
    width: 40%;
    height: 5em;
  }
  &-symbol {
    width: 5%;
    margin: auto;
    height: 5em;
    line-height: 5em;
  }
}
.container-follow {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
.container-trash,
.container-heart {
  color: white;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
}
.container-heart > svg {
  color: white;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  margin: auto;
}
.container-trash > svg {
  color: white;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  margin: auto;
}

.today {
  color: black;
}

.container-weather {
  margin-bottom: 1em !important;
}

@media screen and (max-width: 650px) {
  .apiSuccess-container {
    width: 100%;
  }

  .container-temp {
    width: 100%;
    margin: auto;
    height: 5em;
    display: flex;
    flex-direction: row;
    &-temp {
      margin: auto;
      width: 40%;
      height: 5em;
      line-height: 5em;
      display: flex;
      flex-direction: row;
    }
    &-icon {
      margin: auto;
      width: 40%;
      height: 5em;
      line-height: 5em;
    }
    &-symbol {
      width: 5%;
      margin: auto;
      height: 5em;
      line-height: 5em;
    }
  }
  .img-weather {
    width: 90px;
  }
  .container-weather {
    margin-bottom: 1em !important;
  }
  .container-city_name {
    display: flex;
    justify-content: space-around;
  }
}
