.app {
  border-radius: 0.5em;
  padding-bottom: 2rem;
  min-width: 393vw;
  max-width: 100vw;
  min-height: 100vh;
  margin: 1em auto;
  text-align: center;
  background-color: white;
}

.app img {
  max-width: 100%;
}

h1 {
  padding-top: 2rem;
}
