.burger-menu-container {
    display: none;
}

@media screen and (max-width: 746px) {
    .burger-menu-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        &-create {
            color: white;
        }
        &-login {
            color: white;
        }
        &-contact {
            color: white;
        }
        background: rgba(0, 0, 0, 0.6);
    }
    .burger-menu-navigation {
        width: 60vw;
        height: 100vh;
        background-color: #122229;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 5px #122229;
    }
    .menu-item {
        color: white;
        font-size: 1.2em;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid black;
    }
    .menu-item:hover {
        font-size: 1.2em;
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid black;
        background-color: white;
    }
    .close-menu {
        align-items: center;
        line-height: 2em;
        height: 2em;
        color: white;
        font-size: 2em;
        align-items: center;
        cursor: pointer;
    }
    .close-menu:hover {
        font-size: 2em;
        align-items: center;
        cursor: pointer;
    }
}

@media screen and (max-width: 320px) {
    .burger-menu-navigation {
        width: 60vw;
        box-shadow: 5px 5px 5px #122229;
    }
}
