.contact {
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
  background-color: #c2ccd0;
  text-align: center;
  justify-content: center;
  color: white;

  &-body {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-body-title {
    color: white;
    margin-bottom: 2em;
  }

  &-card {
    width: 75vw;
    height: 35vh;

    background-color: #598bad;
    border-radius: 5px;
  }
}
.contact-email {
  display: flex;
  text-align: center;
  height: 50%;
  justify-content: center;
  &-icon {
    display: flex;
    align-items: center;
  }
}
.contact-email-adresse {
  display: flex;

  align-items: center;
}
.contact-networks {
  height: 50%;
  display: flex;
  justify-content: center;
  &-icon {
    display: flex;
    width: 25%;
    justify-content: center;
  }
}
.svg {
  box-sizing: border-box;
  width: 100%;
  font-size: 400%;
  color: white;
}

.svg:hover {
  box-sizing: border-box;
  width: 100%;
  font-size: 400%;
  color: white;
  box-shadow: #a1bfd3 2px 2px 2px;
  transition: 0.3s;
}

.contact-email > a {
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
}

.text {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 3px;
}

.function {
  height: 5vh;
  color: white;
}

.icon {
  width: 50px;
  margin: 5px;
}
h1 {
  text-align: center;
}

.socials-networks > .div-icon {
  padding-left: 1vw;
  padding-right: 1vw;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
.icon {
  width: auto;
}

.contact-container-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
