.createaccount-container {
  width: 100vw;
  max-height: auto;
  background-color: #c2ccd0;
  text-align: center;
  justify-content: center;
  &-contact {
    display: flex;
  }
}
.createaccount-body {
  height: 81vh;
}

.createaccount-form {
  padding-top: 2em;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.createaccount-form-required-text {
  font-size: 1.4em;
}

.createaccount-form-email,
.createaccount-form-password,
.createaccount-form-password_confirm {
  height: 3em !important;
  width: 30vw;
  margin: auto;
  margin-top: 1em;
}

.createAccount-form-button {
  margin-top: 2em;
}

.message {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
}

.createAccount-title {
  padding-top: 2em;
}
.required {
  color: red;
  font-size: 1.4em;
}
@media screen and (max-width: 746px) {
  .createaccount-body {
    height: 85vh;
  }
  .createaccount-container {
    min-height: 100vh;
    max-height: auto;
  }
  .createaccount-form-required-text {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 650px) {
  .createaccount-container {
    max-height: 100vh;
  }
  .createaccount-body {
    height: 85vh;
  }

  .createaccount-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .createaccount-container {
    max-height: 100vh !important;
  }
  .createaccount-body {
    height: 85vh;
  }

  .createaccount-form {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
