.header-container {
  color: #d9e5ef !important;
  background-color: #122229;
  width: 100vw;
  height: 6vh;
  line-height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container-create,
.header-container-login {
  width: 30%;
  height: 2vh;
  display: none;
}

.header-container-logout {
  width: 10vw;
  height: 3em;
  line-height: 3em;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  margin-right: 3em !important;
  border-radius: 1em !important;
}

.header-container-title {
  width: auto;
  height: 6vh;
  color: white;
  font-size: 1.5em;
  margin-left: 5vw;
  text-decoration: none;
}
.header-container-title:hover {
  text-decoration: none;
}
.header-container-myaccount {
  display: none;
}

.burger-menu {
  color: white;
  width: 5vw;
  height: 8vh;
  line-height: 8vh;
  transform: rotate(90deg) !important;
  display: inline-block;
  margin-right: 5vw;
  margin-top: 0.4vh;
  font-size: 2em;
  cursor: pointer;
}

.burger-menu:hover {
  width: 5vw;
  height: 8vh;
  line-height: 8vh;
  transform: rotate(90deg) !important;
  display: inline-block;
  margin-right: 5vw;
  margin-top: 0.4vh;
  font-size: 2em;
  cursor: pointer;
}

.menu-logout {
  display: none;
}

.header-container-create,
.header-container-login {
  display: none;
}

.header-submenu > a {
  color: white;
  transition: 1s;
  z-index: 5;
  background-color: #122229;
}
.icon {
  display: flex;
}
.icon:hover {
  display: flex;
}
.icon-socialsnetworks {
  display: flex;
  flex: row;
  width: 30%;
  justify-content: space-around;
  margin: auto;
}
.icon-socialsnetworks:hover {
  display: flex;
  flex: row;
  width: 30%;
  justify-content: space-around;
  margin: auto;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

@media screen and (min-width: 746px) {
  .header-submenu {
    display: none;
  }
  .header-container {
    color: #d9e5ef !important;
    background-color: #122229;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }

  .burger-menu {
    display: none;
  }
  .header-container-login {
    margin-right: 5vw;
  }

  .header-container-title,
  .header-container-create,
  .header-container-login,
  .header-container-myaccount,
  .menu-logout {
    width: 25%;
    justify-content: space-evenly;
    color: #d9e5ef !important;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
  }

  .header-container-create:hover,
  .header-container-login:hover,
  .header-container-myaccount:hover,
  .header-container-title:hover {
    width: 25%;
    color: #122229 !important;
    background-color: white;
    border-radius: 1em;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    justify-content: space-evenly;
    text-decoration: none;
    transition: 0.8s;
  }
  .header-container-title:hover {
    background-color: #85b7d9;
    width: 25%;
    color: white !important;
    border-radius: 1em;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    justify-content: space-evenly;
    text-decoration: none;
  }
  .header-container-logout {
    width: 10vw;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    margin-right: 3em !important;
    border-radius: 1em !important;
  }
  .header-container-logout:hover {
    width: 10vw;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    font-size: 1.2em;
    display: inline-block;
    margin-right: 3em !important;
    border-radius: 1em !important;
  }
}
