@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.homepage-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #c2ccd0;
  text-align: center;
}
.homepage-body {
  font-family: "Lato", sans-serif;
  min-height: 85vh;
  background-color: #c2ccd0;

  max-width: 80%;
  margin: auto;
}

.homepage-title {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.exemple {
  margin-top: 0.5em;
  font-size: 1.5em;
}
.spinner {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media screen and (max-width: 650px) {
  .homepage-container {
    min-height: 100vh;
  }
  .homepage-body {
    min-height: 85vh;
  }

  .exemple {
    width: 100%;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 320px) {
  .homepage-container {
    min-height: 100vh;
    max-height: auto !important;
  }
  .homepage-body {
    padding-top: 6vh;
    height: 91vh;
    max-height: auto !important;
  }
}
