@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  font-size: 0.9em !important;
  background-color: #2d3748;
  min-height: 100vh;
}
html {
  font-family: sans-serif;
  font-size: 0.9em !important;
  min-height: 100vh;
  background-color: #2d3748;
}
#root {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #2d3748;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
