.login-container {
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    background-color: white;
    text-align: center;
}

.login-body {
    height: 80vh;
}

.login-form {
    padding-top: 5.2em;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login-form-email,
.login-form-password {
    height: 3em !important;
    min-width: 280px;
    width: 30vw;
    margin: auto;
    margin-top: 1em;
}

.login-form-button {
    margin-top: 2em;
}

.login-body-input {
    padding-top: 5em;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login-body-button {
    padding-top: 2em;
    width: 15vw;
    margin: auto;
}

@media screen and (max-width: 746px) {
    .login-body {
        height: 81vh;
    }
    .login-container {
        min-height: 100vh;
        max-height: auto;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        max-height: 100vh;
    }
    .login-body-input {
        padding-top: 0;
    }
    .login-body-button {
        display: flex;
        justify-content: center;
    }
    .login-body {
        width: 100vw;
        min-height: 88vh;
        max-height: auto;
        background-color: white;
        text-align: center;
        &-button {
            margin: auto !important;
        }
    }
    .login-form-email,
    .login-form-password {
        height: 3em !important;
        min-width: 280px;
        margin: auto;
        margin-top: 1em;
    }
}

@media screen and (max-width: 320px) {
    .login-container {
        max-height: 100vh;
    }
    .login-body-input {
        padding-top: 0;
    }
    .login-body-button {
        display: flex;
        justify-content: center;
    }
    .login-body {
        width: 100vw;
        min-height: 88vh;
        max-height: auto;
        background-color: white;
        text-align: center;
        &-button {
            margin: auto !important;
        }
    }
    .login-form-email,
    .login-form-password {
        height: 3em !important;
        min-width: 280px;
        margin: auto;
        margin-top: 1em;
    }
}
