.form-input {
  display: flex;
  margin: auto;

  flex-direction: column;
  padding-top: 2em;
}
.test {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
}

.container-searchbar {
  width: 60vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.select {
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
  height: 3em !important;
  border-radius: 5px;
  border: none;
}

.select:hover {
  height: 3em !important;
  background-color: #598bad;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
}

.form-input {
  display: flex;
  align-items: center;
  width: 100% !important;
}

.search-bar {
  height: 3em !important;
  width: 80% !important;
  border: none;
  border-radius: 3px;
  &-full {
    display: flex;
    width: 80%;
    justify-content: center;
  }
  &-container {
    display: flex;
  }
  &-geolocalization {
    display: flex;
    justify-content: center;
    width: 3em !important;
    align-items: center;
  }
}

.search-bar:focus {
  height: 3em !important;
  border: solid 3px #598bad;
  margin: auto;
  border-radius: 3px;
}

.container-button {
  margin: auto !important;
  width: 50%;
  height: 48px;
  color: black !important;
  background-color: rgb(255, 255, 255) !important;
  border: none !important;
  border-radius: 5px;
}
.container-button:hover {
  width: 50%;
  height: 48px;
  margin: auto !important;
  color: white !important;
  background-color: #598bad !important;
  border: none !important;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .search-bar {
    height: 3em !important;
    width: 100% !important;
    margin: auto !important;
    border: none;
    border-radius: 4px;
    &-inputCityname {
      display: flex;
    }
    &-geolocalization {
      display: flex;
      justify-content: center;
      width: 3em !important;
      align-items: center;
    }
  }

  .select {
    margin: auto;
    height: 3em !important;
    width: 60vw !important;
    margin-bottom: 1vh;
  }

  .container-searchbar {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }

  .form-input {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80% !important;
  }

  .search-bar {
    width: 100%;
  }

  .btn,
  .btn-primary,
  .btn-primary.focus,
  .btn-primary:focus {
    background-color: #ffffff !important;
  }
}
