.form-input {
  padding-top: 2em;
}

.container-button {
  margin-left: 1em !important;
  height: 3em !important;
}

.container-searchbar {
  display: flex;
  justify-content: center;
}

.search-bar {
  height: 3em !important;
  width: 60vw !important;
  border: #767676 0.1px solid !important;
  border-radius: 3px;
}

.select {
  height: 3em !important;
  border-radius: 5px;
  border: solid 0.5px black;
}

.select:hover {
  height: 3em !important;
  background-color: grey;
  color: white;
  transition: 0.3s;
  border-radius: 5px;
  border: solid 0.5px black;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95% !important;
}

@media screen and (max-width: 650px) {
  .search-bar {
    height: 3em !important;
    width: 60% !important;
    margin: auto !important;
    border: #767676 0.1px solid !important;
    border-radius: 3px;
  }
  .select {
    margin: auto;
    height: 3em !important;
    width: 60vw !important;
    margin-bottom: 1vh;
  }

  .container-searchbar {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }

  .form-input {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .container-button {
    width: auto !important;
    margin: auto !important;
    margin-top: 1em !important;
  }
}
